spring:
  application:
    name: cwa-statistics-server

cloud:
  aws:
    region:
      static: eu-central-1
    stack:
      auto: false

statistics:
  cases:
    url: https://epistat.sciensano.be/Data/COVID19BE_CASES_AGESEX.json
  hospitalisations:
    url: https://epistat.sciensano.be/Data/COVID19BE_HOSP.json
  mortality:
    url: https://epistat.sciensano.be/Data/COVID19BE_MORT.json
  moving-average-size: 7
  s3:
    bucket: covid19-dev-statistics
    key: statistics/statistics.json

